<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
 

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
                <div class="row">
                    <!--left Header ------->
                    <div class="col-md-12 col-12 main_header_left align-items-center"> 
                    <figure class="errimg">
                        <img src="Images/404page.jpg" alt="Mohit" class="img-fluid" title="mohit">

                    </figure>
                
                
                       
                        <p>Welcome to Mohit World</p>
                        <h1>{{errormsg}}</h1>
                         <a href="/"><button>Go Back</button></a>

                   </div>
                   

                </div>


             </div>
        </div>
    </div>
    
    <footer>
      {{>footer}}
    </footer>
</body>
</html>