<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
  {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left Header ------->
                    <div class="col-md-6 col-12 main_header_right"> 
                    <figure>
                        <img src="Images/me.jpg" alt="Mohit" class="img-fluid" title="mohit">

                    </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left"> 
                       
                        <p>Welcome to My Weather app</p>
                        <h1>I am a <span class="text_clr">MNNITiatian </span> and <span class="text_clr">Web developer </span></h1>
                         <a href="http://mohitmnnitalld.c1.biz/" target="_blank"><button>About Me</button></a>

                    </div>
                   

                </div>


             </div>
        </div>
    </div>
    
    <footer>
      {{>footer}}
    </footer>
</body>
</html>